body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.container {
  position: relative;
  float: left;
  clear: both;
  z-index: 0;
  width: 19.6%;
  height: 230px;
  margin: -70px 0 0 16%;
}

.element {
  float: left;
  clear: both;
}

.image {
  display: block;
  position: relative;
  float: left;
  z-index: 1;
  width: 780px;
  height: auto;
  margin: -2px 0 0 10%;
  overflow: hidden;
}

._button {
  display: block;
  float: left;
  border-radius: 3px;
  font-size: 1em;
  text-align: center;
}

.element-1 {
  position: relative;
  z-index: 12;
  width: 110.6666666666%;
  height: 42px;
  margin-left: -5.33073%;
  background-color: #00306f;
}

.element-2 {
  position: relative;
  z-index: 11;
  height: 1px;
  margin: 15px 0 0 10%;
  background-color: rgb(222, 222, 222);
}

.element-3 {
  width: 117.4166666666%;
  height: 42px;
  margin-top: 59px;
  background-color: #00306f;
}

._button-1 {
  position: relative;
  clear: both;
  z-index: 2;
  width: 8.4%;
  height: 29px;
  margin: -48px 0 0 43.9987%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

._button-2 {
  position: relative;
  z-index: 3;
  width: 8.3997395833%;
  height: 29px;
  margin: -48px 0 0 53.10156%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

._button-3 {
  position: relative;
  z-index: 4;
  width: 8.3997395833%;
  height: 29px;
  margin: -48px 0 0 61.5026%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

._button-4 {
  position: relative;
  z-index: 5;
  width: 8.3997395833%;
  height: 29px;
  margin: -48px 0 0 68.52734%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

._button-5 {
  position: relative;
  z-index: 6;
  width: 8.3997395833%;
  height: 29px;
  margin: -47px 0 0 76.58984%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

._button-6 {
  position: relative;
  clear: both;
  z-index: 7;
  width: 10.4166666666%;
  height: 26px;
  margin: 209px 0 0 10.83073%;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
}

._button-7 {
  position: relative;
  z-index: 13;
  width: 63.0833333333%;
  height: 432px;
  margin: -334px 0 0 7.75%;
  background-color: rgb(222, 222, 222);
  color: rgb(0, 0, 0);
}

._button-8 {
  clear: both;
  width: 10.4166666666%;
  height: 26px;
  margin: 247px 0 0 10.83073%;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
}

._button-9 {
  clear: both;
  width: 10.4166666666%;
  height: 26px;
  margin: 446px 0 0 10.83073%;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
}