/* �������@���ʂ̐ݒ�@������ */

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body 		{font-family: Lato, "Noto Sans JP", "��S�V�b�N Medium", "��S�V�b�N��", "Yu Gothic Medium", YuGothic, "�q���M�m�p�S ProN", "Hiragino Kaku Gothic ProN", "���C���I", Meiryo, "�l�r �o�S�V�b�N", "MS PGothic", sans-serif;
}

/* �T�C�g���̐ݒ� */
.site_name  {
            height: 80px;
            width:1200px}
.top        {
            background-color: rgb(255, 102, 0);
}
/* �g�b�v���j���[�̐ݒ� */
.top_menu   {
            height: 60px;
            text-align: center;
            background-color: #FFFFCC}

.top_menu ul {list-style-type: none;
              padding-top: 10px}

.top_menu li {display: inline;
              font-size: 20px;
              padding: 30px}

/* �g�b�v�摜�̐ݒ� */
.top_img    {width: 100%;
            height: 100%}

.box_list   {
            font-size: 15px}

.box_new    {
            width: 880px;
            height: 780px;
            background-color: #FFCC66}

.box_pickup {
            width: 880px;
            height: 780px;
            background-color: #DEB887}

/* �������@���ʂ̐ݒ�@������ */

/* �������@����768px�ȉ��̐ݒ�@������ */
@media(max-width: 768px) {

.site_name  {
            height: 50px}

.site_name_img    {width: 90%;
            height: 90%}

.top_menu ul {
              padding-top: 10px;
              padding-left: 0;
              padding-right: 0}

.top_menu li {
              font-size: 15px;
              padding: 5px}

.box_list       {font-size: 10px}

.box_side {
            float: left;
            width: 100%;
            background-color: #FFFFCC}

.box_search      {float: left;
            width: 800px;
            height: 100%;
            font-size: 10px;
            padding: 10px;
            background-color: #FF6600}

.box_copyright      {float: left;
            width: 100%;
            height: 50px;
            background-color: #FFFFCC}

}
/* �������@����768px�ȉ��̐ݒ�@������ */

.pj_header {
            height: 30px;
            width: 80px;
            text-align: center;
            background: #668ad8;
            color: #FFF;}
.pj_content {
            height: 30px;
            white-space: nowrap;
            overflow:hidden;}
.pj_cate_image {
            height: 70px;
            width: 70px;
            white-space: nowrap;
            overflow:hidden;}
.cate_img {
            width: 100%;
            height: 100%}  
.box_detail_btn {
            height: 45px;
            text-align: center;}

.box_main   {float: left;
            height: 1600px;
            width: 900px;
            background-color: #FFFFCC}

.box_side   {float: left;
            width: 360px;
            height: auto;
            background-color: #FFFFCC}

.sna_img {width: 100%;
            height: 100%}
.url_side_img {width: 100%;
            height: 100%}

.box_search {float: left;
            width: 100%;
            height: 115px;
            font-size: 20px;
            padding: 10px;
            background-color: #FF6600}

.box_copyright  {float: left;
            width: 100%;
            height: 100px;
            background-color: #FFFFCC}

.box_middle{
    width: 1260px;
    height: 1260px
}
.page_counter{
    float: left;
    font-size: 20px;
    width: 100%;
}

.footer{
    position: fixed;
    bottom: 10%;
    width: 100%;
    height: 42px;
    background-color: #00306f;
}

/* 案件詳細ボタン */
.design_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;}
.design_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;}

/* 案件検索ボタン */    
.pj_search_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    font-size:15px;
    width: 200px;
    font-weight:bold;
    background: #295f39;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #629569;
    border-radius: 3px;}
.pj_search_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;}