@charset "UTF-8"

body      {font-family: 'メイリオ',
          'Hiragino Kaku Gothic Pro',sans-serif}

/* BOX1-1とBOX1-2を横に並べる設定　*/
.box1:after {content: "";
            display: block;
            clear:　both}

.box1-1     {float: left;
            width: 30%;
            height: 100px;
            background-color: #FFFFCC}

.box1-2     {float: left;
            width: 70%;
            height: 100px;
            background-color: #CCFFFF}

/* BOX3とBOX4を横に並べる設定　*/
.boxA:after {content: "";
            display: block;
            clear:　both}

.box3     {float: left;
            width: 70%;
            height: 300px;
            background-color: #FFCC66}

.box4    {float: left;
            width: 30%;
            height: 300px;
            background-color: #CC33CC}

/* BOX5とBOX6を横に並べる設定　*/
.boxB:after {content: "";
            display: block;
            clear:　both}

.box5     {float: left;
            width: 70%;
            height: 300px;
            background-color: #CCCCFF}

.box6    {float: left;
            width: 30%;
            height: 300px;
            background-color: #CCCCCC}

/* BOX7　大きさ　*/
.box7      {float: left;
            width: 100%;
            height: 300px;
            background-color: #FF6600}

.boxC:after {content: "";
            display: block;
            clear:　both}

.box8     {float: left;
            width: 70%;
            height: 150px;
            background-color: #CCCCFF}

.box9    {float: left;
            width: 30%;
            height: 150px;
            background-color: #CCCCCC}

.box9    {float: left;
            width: 30%;
            height: 150px;
            background-color: #CCCCCC}